.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 0px 80px 56px 80px;
    height: 100vh;
    box-sizing: border-box;
}

/* ======================== */
/* ===== PROGRESS BAR ===== */
/* ======================== */
.progress-bar {
    height: 80px;
    background-color: black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    padding: 0 20px;

    display: flex;
    align-items: center;
}

.progress-bar .time-date {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}

.progress-bar .time-date .time {
    font-weight: bold;
}

.progress-bar .time-date .time .time-large {
    font-size: 20px;
}

.ampm {
    font-weight: normal;
}

.weekday {
    font-weight: 700;
    font-size: 20px;;
}

/* ====================== */
/* ===== BENTO GRID ===== */
/* ====================== */
.dashboard-container .bento-grid {
    display: flex;
    height: 100%;
    margin-top: 30px;
    gap: 20px;
}

.bento-grid .col-left {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bento-grid .col-left .row-1 {
    flex: 1.5;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bento-grid .col-left .row-1 .col-1 {
    flex: 2;
    background-color: rgb(255, 127, 23);
    border-radius: 20px;
    /* border: 1px solid red; */
}

.bento-grid .col-left .row-1 .col-2 {
    flex: 3;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    /* border: 1px solid red; */
}

.bento-grid .col-left .row-2 {
    flex: 2;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bento-grid .col-left .row-2 .col-1 {
    flex: 1;
    border: 1px solid red;
}

.bento-grid .col-left .row-2 .col-2 {
    flex: 1;
    border: 1px solid red;
}

.bento-grid .col-left .row-2 .col-3 {
    flex: 1;
    border: 1px solid red;
}

.bento-grid .col-left .row-3 {
    flex: 2;
    border: 1px solid red;
}

.bento-grid .col-right {
    flex: 1;
    border: 1px solid red;
}
