

.inventory {
    padding: 20px 80px 0 80px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.inventory .header-container h1 {
    margin: 0;
    margin-bottom: 20px;
}

.inventory .data-cards-container {
    border: 1px solid red;
    margin-bottom: 20px;
}

.inventory .search-add-container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    margin-bottom: 20px;
}

/* ---------- */
/* SEARCH BAR */
/* ---------- */
.search-bar {
    display: flex;
    align-items: center;

    background-color: #f5f5f5;
    border-radius: var(--button-radius);
    padding: 8px 12px;
    width: 250px;
    border: 1px solid rgb(230, 230, 230);

    transition: all 0.2s ease-in-out;
}

.search-bar:hover {
    border-color: var(--owrynge);
}

.search-icon {
    color: #aaa;
    margin-right: 8px;
    font-size: 16px;
}

.search-input {
    all: unset;
    flex: 1;
    font-size: 14px;
    color: #333;
}

.search-input::placeholder {
    color: #aaa;
}

/* --------------- */
/* ADD ITEM BUTTON */
/* --------------- */
.inventory button {
    all: unset;
    padding: 8px 15px;
    background-color: var(--owrynge);
    border-radius: var(--button-radius);
    color: white;
    font-size: 14px;

    transition: all 0.2s ease-in-out;
}

.inventory button:hover {
    cursor: pointer;
    background-color: var(--even-lighter-owrynge);
    color: var(--owrynge);
}

/* ------- */
/* BIG BOX */
/* ------- */
.inventory .big-box {
    border: 1px solid rgb(230, 230, 230);
    height: 100%;
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    padding: 10px;
}

.inventory .big-box .filters-container {
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.inventory .big-box .labels-container {
    border: 1px solid rgb(180, 61, 61);
}

.inventory .big-box .part-container {
    border: 1px solid rgb(0, 255, 136);
}

.inventory .big-box .pagination {

}
