.modal-overlay {
    position: fixed;
    top: 0;
    right: -100%;

    display: flex;
    justify-content: flex-end;

    width: 100vw;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.modal-overlay.show {
    right: 0;
    opacity: 1;
}

.modal-content {
    width: 400px;
    height: 100vh;

    background-color: rgba(204, 204, 204, 0.387);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;

    position: relative;
}

.modal-content h2 {
    margin-bottom: 15px;
}

.modal-content label {
    display: block;
    margin: 10px 0 5px;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal-content button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--owrynge);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
}

.modal-content button:hover {
    background: var(--even-lighter-owrynge);
}

/* Close Button */
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
